/******************************************************************
Site Name: VCUbar
Author: https://github.com/VCUarts

Stylesheet: Base Stylesheet

******************************************************************/

html {

}

body {
  
}

#main {

	@include container($wrapper-width);
	
}

.vcubar{
  
  &.absolute{

    &.light{
      background: $white;
      border-top: 3px solid $grey;
      border-bottom: 3px solid $grey;
    }

    &.dark{
      background: $black;
      border-top: 3px solid $black;
      border-bottom: 3px solid $black;
    }

    .inner-vcubar{
      @include container();
      height: 2em;
      position: relative;
    }

    a{
      display: block;
      height: 2em;
      position: relative;

      &.vcu{
        width: 391px;
        height: auto;

        &:hover{
          .monotone {
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
          }
          .color {
            opacity: 1.0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
          }
        }
      }

      &.vcuarts{
        width: 96px;
        height: auto;
        float: right;

        &:hover{
          .monotone {
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
          }
          .color {
            opacity: 1.0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
          }
        }
      }

      img{
        position: absolute;
      }
    }

    .color {
      opacity: 0;
      transition: opacity .15s ease-in-out;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    .monotone {
      transition: opacity .15s ease-in-out;
    }

  }

}