/******************************************************************
BUTTONS - FOR CLICKING 
******************************************************************/

button.save {
  width: 20%;
  background: $blue;
  color: white;
  padding: 15px 0;
  transition: background .2s ease;
  box-sizing: border-box;
  float: right;
  border: 0;
  &:hover {
    background: darken($blue, 10%);
  }
  &[disabled] {
    background:#CCC;
  }
}

button.entry-btn {
  background: white;
  border: 1px solid $lt-grey;
  color: $blue;
  padding: 5px 10px;
  margin: 0 10px;
  transition: background .2s ease;
  &:first-of-type {
    margin: 0 10px 0 0;
  }
  &:hover {
    background: $background;
  }
}

%topbtn {
  background: transparent;
  position: absolute;
  color: $blue;
  transition: background .2s ease, color .2s ease;
  border: 1px solid $blue;
  text-align: center;
  padding: 2px 7px;
  font-size: 10px;
  letter-spacing: .125em;
  top: 20px;
  &:hover {
    background: $blue;
    color: white;
  }
}

button.edit {
  right: 50px;
  @extend %topbtn;
}
button.close {
  right: 15px;
  @extend %topbtn;
}

button.delete {
  background: $red;
  border: none;
  color: white;
  padding: 6px 8px 4px 8px;
  font-size: 10px;
  transition: background .2s ease;
  letter-spacing: .125em;
  position: absolute;
  left: 15px;
  bottom: 15px;
  &:hover {
    background: darken($red, 10%);
  }
}

button.pdf {
  background: $blue;
  border: none;
  color: white;
  padding: 6px 8px 4px 8px;
  font-size: 10px;
  transition: background .2s ease;
  letter-spacing: .125em;
  position: absolute;
  right: 15px;
  bottom: 15px;
  &:hover {
    background: darken($blue, 10%);
  }
}

button.undo {
  position: absolute;
  right: 15px;
  top: 12px;
  background: white;
  @extend %topbtn;
}