/******************************************************************
Site Name:
Author:

Stylesheet: Color Constants

******************************************************************/

$background: #F5F5F5;
$lt-grey: #EEE;
$blue: #59A8DC;
$red: #FC6168;
$purp: #551A8B;