/******************************************************************
Site Name: 
Author: 

Stylesheet: Main Stylesheet

******************************************************************/
@import "compass";

@import "susy";
$susy: (
  columns: 12,
  gutters: 2/3,
  math: fluid,
  output: float,
  gutter-position: after,
  grid-padding: 2em,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: overlay,
  ),
);

$wrapper-width: 1200px;

@import "normalize";
@import "colors";
@import "mixins";
@import "breakpoints";
@import "base";
@import "modules/modules";
@import "print";
@import "shame";

