/******************************************************************
Site Name: 
Author: 

Stylesheet: Main Stylesheet

******************************************************************/
.jquery-notebook.editor {
  position: relative;
  outline: none;
  min-height: 250px; }

.jquery-notebook.editor p {
  z-index: 2;
  position: relative;
  min-height: 1px; }

.jquery-notebook.editor p.placeholder {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  pointer-events: none; }

.jquery-notebook p:first-child, .jquery-notebook p.placeholder + p {
  margin-top: 0; }

.jquery-notebook.bubble {
  position: absolute;
  z-index: 3;
  opacity: 1;
  height: 43px;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 5px;
  border: 1px solid #1C1C1B;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.2);
  /* Bubble Shadows */
  background: #373735;
  background: -moz-linear-gradient(top, #373735 0%, #282827 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373735), color-stop(100%, #282827));
  background: -webkit-linear-gradient(top, #373735 0%, #282827 100%);
  background: -o-linear-gradient(top, #373735 0%, #282827 100%);
  background: -ms-linear-gradient(top, #373735 0%, #282827 100%);
  background: linear-gradient(to bottom, #373735 0%, #282827 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373735', endColorstr='#282827',GradientType=0 );
  transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out; }

.jquery-notebook.bubble.active {
  opacity: 1; }

.jquery-notebook.bubble.jump {
  transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s; }

.jquery-notebook.bubble:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -6px;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #282827;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  /* Triangle shadow */ }

.jquery-notebook.bubble ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.jquery-notebook.bubble ul li {
  display: inline; }

.jquery-notebook.bubble button {
  outline: none;
  border: none;
  background: transparent;
  width: 41px;
  height: 42px;
  font-family: FontAwesome;
  color: white;
  font-size: 14pt;
  cursor: pointer;
  -webkit-font-smoothing: antialiased; }

.jquery-notebook.bubble button.active {
  color: #60D778; }

.jquery-notebook.bubble button.bold:after {
  content: "\f032"; }

.jquery-notebook.bubble button.italic:after {
  content: "\f033"; }

.jquery-notebook.bubble button.underline:after {
  content: "\f0cd"; }

.jquery-notebook.bubble button.anchor:after {
  content: "\f0c1"; }

.jquery-notebook.bubble button.paste:after {
  content: "\f0ea"; }

.jquery-notebook.bubble button.h1:after {
  font-family: inherit;
  content: "h1"; }

.jquery-notebook.bubble button.h2:after {
  font-family: inherit;
  content: "h2"; }

.jquery-notebook.bubble button.ul:after {
  font-family: inherit;
  content: "\f0ca"; }

.jquery-notebook.bubble button.ol:after {
  font-family: inherit;
  content: "\f0cb"; }

.jquery-notebook .link-area {
  display: none; }

.jquery-notebook .link-area button {
  float: left; }

.jquery-notebook .link-area button:after {
  content: "\f00d"; }

.jquery-notebook input[type=text] {
  width: 220px;
  height: 28px;
  margin: 6px 0 0 10px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  float: left; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/******************************************************************
Site Name:
Author:

Stylesheet: Color Constants

******************************************************************/
/******************************************************************
BUTTONS - FOR CLICKING 
******************************************************************/
button.save {
  width: 20%;
  background: #59A8DC;
  color: white;
  padding: 15px 0;
  transition: background .2s ease;
  box-sizing: border-box;
  float: right;
  border: 0; }
  button.save:hover {
    background: #2f92d3; }
  button.save[disabled] {
    background: #CCC; }

button.entry-btn {
  background: white;
  border: 1px solid #EEE;
  color: #59A8DC;
  padding: 5px 10px;
  margin: 0 10px;
  transition: background .2s ease; }
  button.entry-btn:first-of-type {
    margin: 0 10px 0 0; }
  button.entry-btn:hover {
    background: #F5F5F5; }

button.edit, button.close, button.undo {
  background: transparent;
  position: absolute;
  color: #59A8DC;
  transition: background .2s ease, color .2s ease;
  border: 1px solid #59A8DC;
  text-align: center;
  padding: 2px 7px;
  font-size: 10px;
  letter-spacing: .125em;
  top: 20px; }
  button.edit:hover, button.close:hover, button.undo:hover {
    background: #59A8DC;
    color: white; }

button.edit {
  right: 50px; }

button.close {
  right: 15px; }

button.delete {
  background: #FC6168;
  border: none;
  color: white;
  padding: 6px 8px 4px 8px;
  font-size: 10px;
  transition: background .2s ease;
  letter-spacing: .125em;
  position: absolute;
  left: 15px;
  bottom: 15px; }
  button.delete:hover {
    background: #fb2f38; }

button.pdf {
  background: #59A8DC;
  border: none;
  color: white;
  padding: 6px 8px 4px 8px;
  font-size: 10px;
  transition: background .2s ease;
  letter-spacing: .125em;
  position: absolute;
  right: 15px;
  bottom: 15px; }
  button.pdf:hover {
    background: #2f92d3; }

button.undo {
  position: absolute;
  right: 15px;
  top: 12px;
  background: white; }

/******************************************************************
STYLIN ON U
******************************************************************/
html {
  background: #F5F5F5; }

body {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 80px; }

.site-title {
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px 15px;
  color: #551A8B;
  font-size: 22px;
  font-weight: 600;
  background: #EEE;
  width: 100%; }

.saved-title {
  margin-top: 40px;
  padding-top: 25px;
  border-top: 3px solid #EEE; }

.editor, .entry {
  background: white;
  padding: 20px;
  border-radius: 2px; }

.editor {
  border: 1px solid #59A8DC; }

.title-save {
  overflow: hidden;
  margin-top: 40px; }

.text-title {
  width: 80%;
  float: left;
  border: 0;
  box-sizing: border-box;
  padding: 15px 10px; }

.entry {
  position: relative;
  margin-top: 25px;
  padding-bottom: 65px; }
  .entry h3 {
    margin-top: 0; }

.save-alert {
  width: 100%;
  text-align: center;
  background: #FC6168;
  padding: 10px 0;
  color: white;
  display: none;
  position: absolute;
  top: 0;
  left: 0; }

.entry-opts {
  background: #EEE;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px; }
