/*********************
SETTINGS
Set up your global variables to set up your grid
*********************/
$wrap-max-width: 1300px;
$total-cols: 12;
$gutter-width: 3; //in percentages but leave out "%"
$margin: percentage( $gutter-width/100 );
$inner-wrap-size: 110; //in percentages but leave out "%", may have to change with different total-cols


//do not change these
$parent-size: $total-cols !default;
$is-imp: false !default;
$seperate-with-padding: false !default;
$last: false !default;
$inline: false !default;
$cols-spanned: 1 !default;
$cols-before: 0 !default;




// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
// YOU CAN DELETE THIS IF YOU INCLUDE BORDER-BOX BOX-SIZING ELSEWHERE
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:		border-box;
	box-sizing:				 border-box;
}