/*********************
WRAPPERS
*********************/

@mixin wrap {
	width: percentage( (100 - (2 * $gutter-width))/100 ); //width has room for gutters on each side
	max-width: $wrap-max-width;
	margin: 0 auto;
}
@mixin inner-wrap {
	width: percentage($inner-wrap-size/100);
}
@mixin hide-overflow {
	width: 100%;
	overflow: hidden;
}

//use this class as a typical wrap
.wrap {
	@include wrap();
}
//extra class used for col-imp
.inner-wrap {
	@include inner-wrap();
}
//.inner-wrap's wrap to hide overflow
.hide-overflow {
	@include hide-overflow();
}