/******************************************************************
Site Name: 
Author: 

Stylesheet: Navigation Stylesheet

******************************************************************/

.nav {

	ul {

		> li {

			@include breakpoint($desktop-and-up) {
				display: inline-block;
			}

			a {

			}
			
			ul {

				li {

				}
			}
		}

		li {

			a {

			}
		}
	}
}

#mobile-nav-button {

	@include breakpoint($desktop-and-up) {
		display: none;
	}

}