/******************************************************************

Stylesheet: Normalize Forms

******************************************************************/

%button {
	padding: 1em 2em;
	color: white;
	background: skyblue;
	&:hover {
		background: darken(skyblue, 10);
	}
}

// Define consistent border, margin, and padding

fieldset {
	border: 1px solid $base-border-color;
	background: lighten($base-border-color, 10);
	margin: 0 0 ($base-line-height / 2) 0;
	padding: $base-line-height;
}

legend {
	white-space: normal; // Corrects text not wrapping in FF3
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
	content: "*";
  }

  abbr {
	display: none;
  }
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet

button,
input {
	line-height: normal;
}

// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
// Correct `select` style inheritance in Firefox 4+ and Opera.

button,
select {
	text-transform: none;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls
// 2. Corrects inability to style clickable 'input' types in iOS
// 3. Improves usability and consistency of cursor style between image-type
//    'input' and others

button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
	@extend %button;
	-webkit-appearance: none; // 2
	cursor: pointer; // 3
	white-space: nowrap;
	border: 0;
}

// Re-set default cursor for disabled elements

button[disabled],
input[disabled] {
	cursor: default;
}


// Addresses appearance set to searchfield in S5, Chrome

input[type="search"] {
	-webkit-appearance: textfield;
}

// Remove inner padding and search cancel button in Safari 5 and Chrome
// on OS X.

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

// Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/

button, input {
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}


textarea,
#{$all-text-inputs},
select[multiple=multiple] {
	background-color: white;
	border: 1px solid $base-border-color;
	margin-bottom: $base-line-height / 2;
	padding: ($base-line-height / 3) ($base-line-height / 3);
	transition: 0.2s;
	width: 100%;
	line-height: $base-line-height;

	&:hover {
		border-color: #eee;
	}

	&:focus {
		border-color: #ddd;
		outline: none;
	}
}

// 1. Removes default vertical scrollbar in IE6/7/8/9
// 2. Improves readability and alignment in all browsers

textarea {
	overflow: auto; // 1
	vertical-align: top; // 2
	resize: vertical;
}